:root{
    --title-color: #5c666b;
    --text-color: #71604B;
    --button-color: #807F7C;
}
body{
    background-image: url(../photos/backgroundForHome.jpeg);
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-items: center;
    padding: 50px;
}
h1{
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(3rem, 8vw, 6rem);
    color: var(--title-color);
}
p{
    font-weight: 400;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--text-color);
}
#features{
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;

    margin-top: 2vh;
}
.up{
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0 #8b9aa1;
    color: var(--button-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.up:hover{
    transition: all 1s ease;
    border: 2px solid var(--button-color);
    box-shadow: 0 0 50px 10px #8b9aa1;
}
#buttons{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.down{
    background-color: transparent;
    color: var(--title-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.5rem);
}