:root{
    --title-color: #5c666b;
    --text-color: #71604B;
    --button-color: #807F7C;
}
body{
    background-image: url(../photos/backgroundForHome.jpeg);
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-items: center;
    padding: 5vh 0;
    gap: 4vh;
}
h1{
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(3rem, 8vw, 6rem);
    color: var(--title-color);
}
p{
    font-weight: 400;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--text-color);
    width: 50%;
    background-color: rgba(255, 236, 212, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: solid 2px rgba(255, 236, 212, 0.2);
}
#features{
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    margin-top: 2vh;
}
.up{
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0 #8b9aa1;
    color: var(--button-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.up:hover{
    transition: all 1s ease;
    border: 2px solid var(--button-color);
    box-shadow: 0 0 50px 10px #8b9aa1;
    background-color: rgba(255, 236, 212, 1);
}
#buttons{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.down{
    margin-top: 2%;
    background-color: transparent;
    color: var(--title-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1.5rem, 3vw, 2rem);
}
#signup-button{
    border: 2px solid transparent;
    box-shadow: 0 0 0 0 #8b9aa1;
}
#login-button{
    border: 2px solid var(--title-color);
    background-color: transparent;
    color: var(--title-color);
    box-shadow: 0 0 0 0 #8b9aa1;
    border-radius: 15% / 30%;
    transition: transform 0.3s ease;
}
#login-button:hover{
    transition: all 0.5s ease;
    border: 2px solid var(--title-color);
    box-shadow: 0 0 50px 5px #8b9aa1;
    background-color: var(--title-color);
    color: rgba(255, 255, 255, 0.7);
    transform: translateY(-15%);
}
#dedication{
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
}
#dedication h3{
    font-size: clamp(0.3rem, 0.7vw, 1.2rem);
}
#dedication h5{
    font-size: clamp(0.2rem, 0.5vw, 1rem);
    font-weight: 600;
}