:root{
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 50px;
}
body{
    background-image: url(../photos/a-cinematic-photograph-captured-from-beh_zIiK6JPcTnien8_kM2j49w_0zHVgC-oR0S2oo16bzggwA.jpeg);
    background-size: cover;
}